{% extends "../includes/master.html" %}
{% load static %}
{% block title %}AI4D Lab - About{% endblock %}
{% block content %}
    <!-- Start inner Page hero-->
    <section class="d-flex align-items-center page-hero  inner-page-hero " id="page-hero">
      <div class="overlay-photo-image-bg parallax" data-bg-img="assets/images/hero/inner-page-hero.jpg" data-bg-opacity="1"></div>
      <div class="overlay-color" data-bg-opacity=".75"></div>
      <div class="container">
        <div class="hero-text-area centerd">
          <h1 class="hero-title  wow fadeInUp" data-wow-delay=".2s">About Us</h1>
          <nav aria-label="breadcrumb ">
            <ul class="breadcrumb wow fadeInUp" data-wow-delay=".6s">
              <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'home:home'%}"><i class="bi bi-house icon "></i>home</a></li>
              <li class="breadcrumb-item active">about us</li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
    <!-- End inner Page hero-->
    <!-- Start  about Section-->
    <section class="about mega-section" id="about">
      <div class="container">
        <!-- Start first about div-->
        <div class="content-block  ">
          <div class="row">
            <div class="col-12 col-lg-6 d-flex align-items-center order-1 order-lg-0 about-col pad-end  wow fadeInUp " data-wow-delay="0.6s">
              <div class="text-area ">
                <div class="sec-heading  light-title ">
                  <div class="content-area"><span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">about Us</span>
                    <h2 class=" title    wow fadeInUp" data-wow-delay=".4s"><span class='hollow-text'>trusted</span> by worldwide clients  since<span class='featured-text'>  1980. <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none"><path d="M7.7,145.6C109,125,299.9,116.2,401,121.3c42.1,2.2,87.6,11.8,87.3,25.7"></path></svg></span></h2>
                  </div>
                </div>
                <p class=" about-text">
                  Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit.
                  Distinctio,
                  aliquam est!
                  rerum inventore animi at iusto 
                  totam sunt accusamus quia
                  
                </p>
                <div class="info-items-list ">
                  <div class="row ">
                    <div class="col-9 col-xl-6">
                      <div class="info-item"><i class="flaticon-medal  info-icon"></i>
                        <div class="info-content">
                          <h5 class="info-title">first on field </h5>
                          <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-9 col-xl-6">
                      <div class="info-item"><i class="flaticon-game-console info-icon"></i>
                        <div class="info-content">
                          <h5 class="info-title">easy to reach </h5>
                          <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-9 col-xl-6">
                      <div class="info-item"><i class="flaticon-map info-icon"></i>
                        <div class="info-content">
                          <h5 class="info-title">worldwide services  </h5>
                          <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-9 col-xl-6">
                      <div class="info-item"><i class="flaticon-technical-support-1  info-icon"></i>
                        <div class="info-content">
                          <h5 class="info-title">24/7 support  </h5>
                          <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cta-area"><a class=" btn-solid reveal-start" href="about-us.html">Get in touch</a>
                  <div class="signature ">
                    <div class="signature-img"></div>
                    <div class="signature-name">CEO &amp; Founder </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center order-0 order-lg-1 about-col  wow fadeInUp" data-wow-delay="0.2s">
              <div class="img-area  " data-tilt>
                <div class="image   "><img class="about-img img-fluid " loading="lazy" src="assets/images/about/3.png" alt="Our vision"></div>
              </div>
            </div>
          </div>
        </div>
        <!--End first about div-->
      </div>
    </section>
    <!-- End  about Section-->
    <!-- Start  our-team Section-->
    <section class="our-team mega-section " id="our-team">
      <div class="container">
        <div class="sec-heading  ">
          <div class="content-area"><span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">Team</span>
            <h2 class=" title    wow fadeInUp" data-wow-delay=".4s"> our <span class='hollow-text'>Experts</span> team members</h2>
          </div>
          <div class=" cta-area  cta-area  wow fadeInUp" data-wow-delay=".8s"><a class="cta-btn btn-solid   cta-btn btn-solid  " href="our-team.html">see more<i class="bi bi-arrow-right icon "></i></a></div>
        </div>
        <div class="container">
          <div class="row">
            <!--first Team Member-->
            <div class="col-12 col-md-8  col-lg-4 mx-md-auto ">
              <div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.1s">
                <div class="tm-image js-tilt "><a class="tm-link  " href="team-member.html"> 
                    <div class="overlay overlay-color"></div><img class="img-fluid parallax-img  " loading="lazy" src="assets/images/our-team/1.jpg" alt="Team Member"/></a>
                  <div class="tm-social">
                    <div class="sc-wrapper dir-row sc-size-40">
                      <ul class="sc-list">
                        <li class="sc-item " title="Facebook"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-facebook-f sc-icon"></i></a></li>
                        <li class="sc-item " title="youtube"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-youtube sc-icon"></i></a></li>
                        <li class="sc-item " title="instagram"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-instagram sc-icon"></i></a></li>
                        <li class="sc-item " title="twitter"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-twitter sc-icon"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tm-details"><a class="tm-link" href="team-member.html"> 
                    <h6 class="tm-name">murad Aly</h6></a><span class="tm-role">co Founder   </span></div>
              </div>
            </div>
            <!--Second Team Member-->
            <div class="col-12 col-md-8  col-lg-4 mx-md-auto ">
              <div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.2s">
                <div class="tm-image js-tilt "><a class="tm-link  " href="team-member.html"> 
                    <div class="overlay overlay-color"></div><img class="img-fluid parallax-img  " loading="lazy" src="assets/images/our-team/2.jpg" alt="Team Member"/></a>
                  <div class="tm-social">
                    <div class="sc-wrapper dir-row sc-size-40">
                      <ul class="sc-list">
                        <li class="sc-item " title="Facebook"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-facebook-f sc-icon"></i></a></li>
                        <li class="sc-item " title="youtube"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-youtube sc-icon"></i></a></li>
                        <li class="sc-item " title="instagram"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-instagram sc-icon"></i></a></li>
                        <li class="sc-item " title="twitter"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-twitter sc-icon"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tm-details"><a class="tm-link" href="team-member.html"> 
                    <h6 class="tm-name">fairouz amin</h6></a><span class="tm-role">manager   </span></div>
              </div>
            </div>
            <!--Third Team Member-->
            <div class="col-12 col-md-8  col-lg-4 mx-md-auto ">
              <div class="tm-member-card     wow   fadeInUp" data-wow-delay="0.4s">
                <div class="tm-image js-tilt "><a class="tm-link  " href="team-member.html"> 
                    <div class="overlay overlay-color"></div><img class="img-fluid parallax-img  " loading="lazy" src="assets/images/our-team/3.jpg" alt="Team Member"/></a>
                  <div class="tm-social">
                    <div class="sc-wrapper dir-row sc-size-40">
                      <ul class="sc-list">
                        <li class="sc-item " title="Facebook"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-facebook-f sc-icon"></i></a></li>
                        <li class="sc-item " title="youtube"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-youtube sc-icon"></i></a></li>
                        <li class="sc-item " title="instagram"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-instagram sc-icon"></i></a></li>
                        <li class="sc-item " title="twitter"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-twitter sc-icon"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tm-details"><a class="tm-link" href="team-member.html"> 
                    <h6 class="tm-name">beco Smith</h6></a><span class="tm-role">co leader   </span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End  our-team Section-->
    <!-- Start  testimonials-->
    <section class="testimonials testimonials-1-col   has-dark-bg  mega-section " id="testimonials-img-bg">
      <div class="overlay-photo-image-bg parallax " data-bg-img="assets/images/sections-bg-images/1.jpg" data-bg-opacity=".25"> </div>
      <div class="container">
        <div class="sec-heading  centered ">
          <div class="content-area"><span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">testimonials</span>
            <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">customers <span class='hollow-text'>testmonials</span></h2>
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col-12 col-md-10  mx-auto">
            <div class="swiper-container  wow fadeInUp  " data-wow-delay="0.2s">
              <div class="swiper-wrapper">
                <!--First Slide-->
                <div class="swiper-slide">
                  <div class="testmonial-card d-flex align-items-center justify-content-center">
                    <div class="testimonial-content">
                      <div class="customer-img "><img class="img-fluid " loading="lazy" src="assets/images/testimonials/1.png" alt="First Slide "></div>
                      <div class="customer-testimonial">
                        <div class="content">
                          <p class="testimonial-text "> ipsum dolor sit amet consectetur adipisicing elit. Quod, id sequi aut qui est ab, corporis quis maiores reiciendis explicabo odio tenetur nulla sint vel.</p>
                        </div>
                      </div>
                      <div class="customer-info ">
                        <div class="customer-details">
                          <p class="customer-name">Yusuf amin</p>
                          <p class="customer-role">founder</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Second Slide-->
                <div class="swiper-slide">
                  <div class="testmonial-card d-flex align-items-center justify-content-center">
                    <div class="testimonial-content">
                      <div class="customer-img "><img class="img-fluid " loading="lazy" src="assets/images/testimonials/2.png" alt="First Slide "></div>
                      <div class="customer-testimonial">
                        <div class="content">
                          <p class="testimonial-text "> ipsum dolor sit amet consectetur adipisicing elit. Quod, id sequi aut qui est ab, corporis quis maiores reiciendis explicabo odio tenetur nulla sint vel.</p>
                        </div>
                      </div>
                      <div class="customer-info ">
                        <div class="customer-details">
                          <p class="customer-name">fouad osman</p>
                          <p class="customer-role">officer</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--third Slide-->
                <div class="swiper-slide">
                  <div class="testmonial-card d-flex align-items-center justify-content-center">
                    <div class="testimonial-content">
                      <div class="customer-img "><img class="img-fluid " loading="lazy" src="assets/images/testimonials/3.png" alt="First Slide "></div>
                      <div class="customer-testimonial">
                        <div class="content">
                          <p class="testimonial-text "> ipsum dolor sit amet consectetur adipisicing elit. Quod, id sequi aut qui est ab, corporis quis maiores reiciendis explicabo odio tenetur nulla sint vel.            </p>
                        </div>
                      </div>
                      <div class="customer-info ">
                        <div class="customer-details">
                          <p class="customer-name">fairouz mhmd</p>
                          <p class="customer-role">manager</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--navigation buttons-->
              <div class="swiper-button-prev">
                <div class="left-arrow"><i class="bi bi-chevron-left icon "></i>
                </div>
              </div>
              <div class="swiper-button-next">
                <div class="right-arrow"><i class="bi bi-chevron-right icon "></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 {% endblock %}