{% extends "../includes/master.html" %}
{% load static %}
{% block title %}AI4D Lab - About{% endblock %}
{% block content %}
    <!-- Start inner Page hero-->
    <section class="d-flex align-items-center page-hero  inner-page-hero " id="page-hero">
      <div class="overlay-photo-image-bg parallax" data-bg-img="{% static 'assets/images/hero/inner-page-hero.jpg' %}" data-bg-opacity="1"></div>
      <div class="overlay-color" data-bg-opacity=".75"></div>
      <div class="container">
        <div class="hero-text-area centerd">
          <h1 class="hero-title  wow fadeInUp" data-wow-delay=".2s">Collaboration</h1>
          <nav aria-label="breadcrumb ">
            <ul class="breadcrumb wow fadeInUp" data-wow-delay=".6s">
              <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'home:home' %}"><i class="bi bi-house icon "></i>home</a></li>
              <li class="breadcrumb-item active">collaboration</li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
    <!-- End inner Page hero-->
    <!-- Start  about Section-->
    <section class="about mega-section" id="about">
      <div class="container">
        <!-- Start first about div-->
        <div class="content-block  ">
          <div class="row">
            <div class="col-12 col-lg-6 d-flex align-items-center order-1 order-lg-0 about-col pad-end  wow fadeInUp " data-wow-delay="0.6s">
              <div class="text-area ">
                <div class="sec-heading  light-title ">
                  <div class="content-area"><span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">UDOM</span>
                    <h2 class=" title    wow fadeInUp" data-wow-delay=".4s"><span class='hollow-text'>The </span> University of<span class='featured-text'>  Dodoma. <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none"><path d="M7.7,145.6C109,125,299.9,116.2,401,121.3c42.1,2.2,87.6,11.8,87.3,25.7"></path></svg></span></h2>
                  </div>
                </div>
                <p class=" about-text">
                  Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit.
                  Distinctio,
                  aliquam est!
                  rerum inventore animi at iusto 
                  totam sunt accusamus quia
                  
                </p>
                <div class="info-items-list ">
                  <div class="row ">
                    <div class="col-9 col-xl-6">
                      <div class="info-item"><i class="flaticon-medal  info-icon"></i>
                        <div class="info-content">
                          <h5 class="info-title">first on field </h5>
                          <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-9 col-xl-6">
                      <div class="info-item"><i class="flaticon-game-console info-icon"></i>
                        <div class="info-content">
                          <h5 class="info-title">easy to reach </h5>
                          <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-9 col-xl-6">
                      <div class="info-item"><i class="flaticon-map info-icon"></i>
                        <div class="info-content">
                          <h5 class="info-title">worldwide services  </h5>
                          <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-9 col-xl-6">
                      <div class="info-item"><i class="flaticon-technical-support-1  info-icon"></i>
                        <div class="info-content">
                          <h5 class="info-title">24/7 support  </h5>
                          <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cta-area"><a class=" btn-solid reveal-start" href="about-us.html">More About UDOM</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center order-0 order-lg-1 about-col  wow fadeInUp" data-wow-delay="0.2s">
              <div class="img-area  " data-tilt>
                <div class="image   "><img class="about-img img-fluid " loading="lazy" src="{% static 'assets/images/about/3.png' %}" alt="Our vision"></div>
              </div>
            </div>
          </div>
        </div>
        <!--End first about div-->
        <!-- Start first about div-->
        <div class="content-block  ">
          <div class="row">
            <div class="col-12 col-lg-6 d-flex align-items-center about-col  wow fadeInUp" data-wow-delay="0.2s">
              <div class="img-area  ">
                <div class="image  " data-tilt><img class="about-img img-fluid " loading="lazy" src="{% static 'assets/images/about/1.png' %}" alt="about"></div>
              </div>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center about-col pad-start  wow fadeInUp " data-wow-delay="0.6s">
              <div class="text-area ">
                <div class="sec-heading  light-title ">
                  <div class="content-area"><span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">NM-AIST</span>
                    <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">The Nelson Mandela <span class='hollow-text'> African   </span> Institution of <span class='featured-text'>Science and Technology <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none"><path d="M7.7,145.6C109,125,299.9,116.2,401,121.3c42.1,2.2,87.6,11.8,87.3,25.7"></path></svg></span></h2>
                  </div>
                </div>
                <p class=" about-text">
                  Lorem ipsum dolor, sit amet consectetur
                  adipisicing elit.
                  Distinctio,
                  aliquam est!
                  rerum inventore animi at iusto 
                  totam sunt accusamus quia
                  
                </p>
                <div class="info-items-list">
                  <div class="row ">
                    <div class="col-12 ">
                      <div class="info-item"><span class="info-number ">01.</span>
                        <div class="info-content">
                          <h5 class="info-title">latest technologies </h5>
                          <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima reiciendis nobis dolore obcaecati.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 ">
                      <div class="info-item"><span class="info-number ">02.</span>
                        <div class="info-content">
                          <h5 class="info-title">uniqe solutions </h5>
                          <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima reiciendis nobis dolore obcaecati.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 ">
                      <div class="info-item"><span class="info-number ">03.</span>
                        <div class="info-content">
                          <h5 class="info-title">powerful strategies </h5>
                          <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima reiciendis nobis dolore obcaecati.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cta-area "><a class=" btn-solid " href="about-us.html">get in toutch</a></div>
              </div>
            </div>
          </div>
        </div>
        <!--End first about div-->
      </div>
    </section>
    <!-- End  about Section-->
{% endblock %}