{% extends "../includes/master.html" %}
{% load static %}
{% block title %}AI4D Lab - Collaborators{% endblock %}
{% block content %}
    <!-- Start inner Page hero-->
    <section class="d-flex align-items-center page-hero  inner-page-hero " id="page-hero">
      <div class="overlay-photo-image-bg parallax" data-bg-img="{% static 'assets/images/hero/inner-page-hero.jpg' %}" data-bg-opacity="1"></div>
      <div class="overlay-color" data-bg-opacity=".75"></div>
      <div class="container">
        <div class="hero-text-area centerd">
          <h1 class="hero-title  wow fadeInUp" data-wow-delay=".2s">Collaborators</h1>
          <nav aria-label="breadcrumb ">
            <ul class="breadcrumb wow fadeInUp" data-wow-delay=".6s">
              <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'home:home' %}"><i class="bi bi-house icon "></i>home</a></li>
              <li class="breadcrumb-item active">Collaborators</li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
    <!-- End inner Page hero-->
  </section>
  <!-- End  portfolio Section-->
      <!-- Start  testimonials Section-->
      <section class="testimonials testimonials-1-col   has-dark-bg  mega-section " id="testimonials-img-bg">
        <div class="overlay-photo-image-bg parallax " data-bg-img="{% static 'assets/images/sections-bg-images/1.jpg' %}" data-bg-opacity=".25"> </div>
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-12 col-md-10  mx-auto">
              <div class="swiper-container  wow fadeInUp  " data-wow-delay="0.2s">
                <div class="swiper-wrapper">
                  <!--First Slide-->
                  {% for colab in colabs %}
                  <div class="swiper-slide">
                    <div class="testmonial-card d-flex align-items-center justify-content-center">
                      <div class="testimonial-content">
                        <div class="customer-img "><img class="img-fluid " loading="lazy" src="{{ colab.logo.url }}" alt="First Slide "></div>
                        <div class="customer-testimonial">
                          <div class="content">
                            <a href="{{ colab.website_url}}"class="testimonial-text " target="_blank"> {{ colab.colab_name }}</a>
                          </div>
                        </div>
                        <div class="customer-info ">
                          <div class="customer-details">
                            <p class="customer-name">{{ colab.description | safe }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <!--navigation buttons-->
                <div class="swiper-button-prev">
                  <div class="left-arrow"><i class="bi bi-chevron-left icon "></i>
                  </div>
                </div>
                <div class="swiper-button-next">
                  <div class="right-arrow"><i class="bi bi-chevron-right icon "></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% comment %} <div class="loading-screen" id="loading-screen"><span class="bar top-bar"></span><span class="bar down-bar"></span></span></div> {% endcomment %}
      </section>
    <!-- End  portfolio Section-->
{% endblock %}