{% extends "../includes/master.html" %}
{% load static %}
{% block title %}AI4D Lab - About{% endblock %}
{% block content %}
    <!-- Start inner Page hero-->
    <section class="d-flex align-items-center page-hero  inner-page-hero " id="page-hero">
      <div class="overlay-photo-image-bg parallax" data-bg-img="{% static 'assets/images/hero/inner-page-hero.jpg' %} " data-bg-opacity="1"></div>
      <div class="overlay-color" data-bg-opacity=".75"></div>
      <div class="container">
        <div class="hero-text-area centerd">
          <h1 class="hero-title  wow fadeInUp" data-wow-delay=".2s">About Us</h1>
          <nav aria-label="breadcrumb ">
            <ul class="breadcrumb wow fadeInUp" data-wow-delay=".6s">
              <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'home:home' %}"><i class="bi bi-house icon "></i>home</a></li>
              <li class="breadcrumb-item active">about us</li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
    <!-- End inner Page hero-->
    <!-- Start  about Section-->
    <section class="about mega-section" id="about">
      <div class="container">
        <!-- Start first about div-->
        <div class="content-block  ">
          <div class="row">
            <div class="col-12 col-lg-6 d-flex align-items-center order-1 order-lg-0 about-col pad-end  wow fadeInUp " data-wow-delay="0.6s">
              <div class="text-area ">
                <div class="sec-heading  light-title ">
                  <div class="content-area"><span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">about Us</span>
                    <h2 class=" title    wow fadeInUp" data-wow-delay=".4s"><span class='hollow-text'>AI4D Africa's</span>  Anglophone Multidisciplinary Research<span class='featured-text'>Lab. <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none"><path d="M7.7,145.6C109,125,299.9,116.2,401,121.3c42.1,2.2,87.6,11.8,87.3,25.7"></path></svg></span></h2>
                  </div>
                </div>
                <p class=" about-text">
                  The AI4D Multidisciplinary Research Lab is a project run in collaboration between two public academic institutions in Tanzania, 
                  The University of Dodoma (UDOM) & Nelson Mandela African Institution of Science and Technology (NM-AIST).
                  We set forth an objective to establish the AI4D lab that fosters capacity development, research, 
                  and innovation in responsible Artificial Intelligence (AI) and its application in addressing societal and developmental problems in Africa.
                  Below are the Lab themantic areas:- 
                  
                </p>
                <div class="sec-heading  light-title ">
                  <div class="content-area"><span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">Main Objective</span>
                    <p class=" about-text">
                      The main objective of the Lab is to strengthen the capacity of a public university in Africa to conduct high-quality, multidisciplinary, responsible AI research and teaching by establishing a multidisciplinary and gender-inclusive Africa Artificial Intelligence for Development research laboratory.
                    </p>
                  </div>
                </div>
                <div class="sec-heading  light-title ">
                  <div class="content-area"><span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">Key Objectives of the Lab</span>
                    <p class=" about-text">
                      <ol start='1'>
                        <li>To strengthen research and teaching capacity in responsible AI across Anglophone Africa through mentorship, community building and the equitable distribution of high-quality teaching and training materials.</li>
                        <li>To increase understanding of how to advance responsible, multidisciplinary and gender- inclusive African AI research methodologies and training capacity for new and experienced researchers through mentoring and exploratory research,</li>
                        <li>To explore how to support AI deployment and commercialization from academia to the private sector.</li>
                      </ol>
                    </p>
                  </div>
                </div>
                <!-- <div class="cta-area"><a class=" btn-solid reveal-start" href="about-us.html">Explore More</a>
                </div> -->
              </div>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center order-1 order-lg-0 about-col pad-end  wow fadeInUp " data-wow-delay="0.6s">
              <div class="text-area ">
                <div class="sec-heading  light-title ">
                  <div class="content-area"><span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">Mission</span>
                    <p class=" about-text">
                      To become a multi-disciplinary lab that ventures in cutting-edge AI research, training, and development of industrially scalable products that solves societal challenges in Africa in equitable and gender responsive manner.
                    </p>
                  </div>
                </div>
                <div class="sec-heading  light-title ">
                  <div class="content-area"><span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">Vision</span>
                    <p class=" about-text">
                      To become a center of excellence in AI4D research, teaching, and innovation for the development of Africa and the region.
                    </p>
                  </div>
                </div>
                <div class="sec-heading  light-title ">
                  <div class="content-area"><span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">Themantic Areas</span><br>
                    <div class="info-items-list ">
                      <div class="row ">
                        <div class="col-9 col-xl-6">
                          <div class="info-item"><i class="flaticon-medal  info-icon"></i>
                            <div class="info-content">
                              <h5 class="info-title">Infrastructure and Data Ecosystem</h5>
                              <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-9 col-xl-6">
                          <div class="info-item"><i class="flaticon-game-console info-icon"></i>
                            <div class="info-content">
                              <h5 class="info-title">Health Care</h5>
                              <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-9 col-xl-6">
                          <div class="info-item"><i class="flaticon-map info-icon"></i>
                            <div class="info-content">
                              <h5 class="info-title">Environmental Conservation and Agriculture  </h5>
                              <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-9 col-xl-6">
                          <div class="info-item"><i class="flaticon-technical-support-1  info-icon"></i>
                            <div class="info-content">
                              <h5 class="info-title">Digital  Economy and Small Scale Industry</h5>
                              <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iste</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="cta-area"><a class=" btn-solid reveal-start" href="about-us.html">Explore More</a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <!--End first about div-->
      </div>
    </section>
{% endblock %}