{% extends "../includes/master.html" %}
{% load static %}
{% block title %}AI4D Lab - Home{% endblock %}
{% block content %}
    <!-- Start  Page hero-->
    <section class="page-hero  d-flex align-items-center" id="page-hero">
      <div class="overlay-photo-image-bg" data-bg-img="{% static 'assets/images/sections-bg-images/pattern-bg-1.jpg' %}" data-bg-opacity=".2"></div>
      <div class="particles-js  dots" id="particles-js"></div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6 ">
            <!--Start of .hero-text-area-->
            <div class="hero-text-area   ">
              <div class="row">
                <div class="col-12   ">
                  <div class="hero-social-icons mb-3 ">
                    <div class="sc-wrapper dir-row sc-flat">
                      <ul class="sc-list">
                        <!-- <li class="sc-item " title="Facebook"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-facebook-f sc-icon"></i></a></li> -->
                        <!-- <li class="sc-item " title="youtube"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-youtube sc-icon"></i></a></li> -->
                        <li class="sc-item " title="linkedin"><a class="sc-link" href="https://www.linkedin.com/company/ai4d-anglophone/mycompany/" title="social media icon" target="_blank"><i class="fab fa-linkedin sc-icon"></i></a></li>
                        <li class="sc-item " title="twitter"><a class="sc-link" href="https://twitter.com/ai4dlab_Tz" title="social media icon"><i class="fab fa-twitter sc-icon" target="_blank"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <!-- <div class="pre-title ">IT solutions             </div> -->
                  <h1 class="hero-title  ">AI4D AFRICA'S ANGLOPHONE  MULTIDISCIPLINARY RESEARCH LAB    <span class="featured-text">AI4DLAB <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none"><path d="M7.7,145.6C109,125,299.9,116.2,401,121.3c42.1,2.2,87.6,11.8,87.3,25.7"></path></svg>  </span></h1>
                </div>
                <div class="col-10">
                  <p class="hero-subtitle">
                    Artificial Intelligence for Development AI4D - Lab
                    A unique collaboration between UDOM & NM-AIST to foster Research, Training and Innovation in AI
                  </p>
                </div>
                <div class="col-12">
                  <div class="cta-links-area "><a class=" btn-outline cta-link cta-link-primary " href="{% url 'lab:lab' %}">More Info</a>
                    {% comment %} <div class="play-btn-row-dir ">
                      <a class="video-link" href="https://www.youtube.com/watch?v=QI4_dGvZ5yE&amp;ab_channel=JUtah" role="button" title="play" data-fancybox="data-fancybox">
                        <div class="play-video-btn">
                          <div class="play-btn"> <i class="fas fa-play icon"></i></div>
                        </div>
                      </a>
                    </div> {% endcomment %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--start of image-area -->
           <div class="col-12   mx-md-auto col-lg-6 text-center " data-tilt>  
            <div class="hero-image-area mb-5 mb-lg-0">
              <div class="hero-img-wraper  "><img class="img-fluid " src="{% static 'assets/images/about/thematic.png' %}" alt="" draggable="false"></div>
            </div>
          </div> 
        </div>
      </div>
    </section>
    <!--End of .hero-text-area-->
    <!-- End  Page hero-->

    <!-- Start  news Section-->
    <section class="blog blog-home mega-section  " id="blog">
      {% if news %}
      <div class="container ">
        <div class="sec-heading  ">
          <div class="content-area"><span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">Latest</span>
            <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">News<span class='hollow-text'></span></h2>
          </div>
          <div class=" cta-area  cta-area  wow fadeInUp" data-wow-delay=".8s"><a class="cta-btn btn-solid   cta-btn btn-solid  " href="{% url 'news:news' %}">see all posts<i class="bi bi-arrow-right icon "></i></a></div>
        </div>
        <div class="row ">
          <div class="col-12 "> 
            <div class="posts-grid ">
              {% if news %}
              <div class="row">
                {% for new in news %}
                <div class="col-12 col-lg-4 ">
                  <div class="post-box">     <a class="post-link" href="news/{{ new.slug }}" title="{{ new.title }}"> 
                      <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="{{ new.thumbnail.url }}" alt="{{ new.title }}"/><span class="post-date"><span class="day">{{ new.created_at | date}}</span></span></div></a>
                    <div class="post-summary">
                      <div class="post-info">
                        {% if new.thematic_area == 0  %}
                        <a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>General</a>
                        {% endif %}
                        {% if new.thematic_area == 1  %}
                        <a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>Health Care</a>
                        {% endif %}
                        {% if new.thematic_area == 2  %}
                        <a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>Agriculture and Environmental Conversation</a>
                        {% endif %}
                        {% if new.thematic_area == 3  %}
                        <a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>Infrastructure and Data Ecosystem</a>
                        {% endif %}
                        {% if new.thematic_area == 4  %}
                        <a class="info post-cat" href="#"> <i class="bi bi-bookmark icon"></i>Digital Economy and Small Scale Industry</a>
                        {% endif %}
                        <a class="info post-author" href="#"> <i class=" bi bi-person icon"></i>{{ new.publisher.first_name }} {{ new.publisher.last_name }}</a></div>
                      <div class="post-text"><a class="post-link" href="news/{{ new.slug }}"> 
                          <h2 class="post-title"> {{ new.title | safe }}</h2></a>
                          <p class="post-excerpt">{{ new.description }}</p><a class="read-more" href="news/{{ new.slug }}" title="{{ new.title }}">read more<i class="bi bi-arrow-right icon "></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </section>
<!-- End latest news -->


    <!-- Start  news Section-->
    <section class="blog blog-home mega-section  " id="blog">
      <div class="container ">
        <div class="sec-heading  ">
          <div class="content-area"><span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">Latest</span>
            <h2 class=" title    wow fadeInUp" data-wow-delay=".4s"><span class='hollow-text'>Blogs</span></h2>
          </div>
          <div class=" cta-area  cta-area  wow fadeInUp" data-wow-delay=".8s"><a class="cta-btn btn-solid   cta-btn btn-solid  " href="{% url 'blog:blog' %}">see all posts<i class="bi bi-arrow-right icon "></i></a></div>
        </div>
        <div class="row ">
          <div class="col-12 "> 
            <div class="posts-grid ">
              {% if blogs %}
              <div class="row">
                {% for blog in blogs %}
                <div class="col-12 col-lg-4 ">         
                  <div class="post-box"><a class="post-link" href="blog/blogs/{{ blog.slug }}" title="{{ blog.title }}"> 
                      <div class="post-img-wrapper  "><img class=" parallax-img   post-img" loading="lazy" src="{{ blog.thumbnail.url }}" alt="{{ blog.title }}"/><span class="post-date"><span class="day">{{ blog.created_at | date }} </span></span></div></a>
                    <div class="post-summary">
                      <div class="post-info"><a class="info post-author" href="blog/blogs/{{ blog.slug }}"> <i class=" bi bi-person icon"></i>{{ blog.author.first_name }} {{ blog.author.last_name }}</a></div>
                      <div class="post-text"><a class="post-link" href="blog/blogs/{{ blog.slug }}"> 
                          <h2 class="post-title"> {{ blog.title }}</h2></a>
                        <p class="post-excerpt">{{ blog.description }}</p><a class="read-more" href="#" title="{{ blog.title }}">read more<i class="bi bi-arrow-right icon "></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- End latest news -->

    <!-- Start  about Section-->
    <section class="about mega-section" id="about">
      <div class="container">
        <!-- Start first about div-->
        <div class="content-block  ">
          <div class="row">
            <div class="col-12 col-lg-6 d-flex align-items-center order-1 order-lg-0 about-col pad-end  wow fadeInUp " data-wow-delay="0.6s">
              <div class="text-area ">
                <div class="sec-heading  light-title ">
                  <div class="content-area"><span class=" pre-title       wow fadeInUp " data-wow-delay=".2s">about Us</span>
                    <h2 class=" title    wow fadeInUp" data-wow-delay=".4s"><span class='hollow-text'>AI4D Africa's</span>  Anglophone Multidisciplinary Research<span class='featured-text'>Lab. <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none"><path d="M7.7,145.6C109,125,299.9,116.2,401,121.3c42.1,2.2,87.6,11.8,87.3,25.7"></path></svg></span></h2>
                  </div>
                </div>
                <p class=" about-text">
                  The AI4D Multidisciplinary Research Lab is a project run in collaboration between two public academic institutions in Tanzania, 
                  The University of Dodoma (UDOM) & Nelson Mandela African Institution of Science and Technology (NM-AIST).
                  We set forth an objective to establish the AI4D lab that fosters capacity development, research, 
                  and innovation in responsible Artificial Intelligence (AI) and its application in addressing societal and developmental problems in Africa.
                  Below are the Lab thematic areas:- 
                  
                </p>
                <div class="cta-area"><a class=" btn-solid reveal-start" href="{% url 'lab:lab' %}">Explore More</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center order-0 order-lg-1 about-col  wow fadeInUp" data-wow-delay="0.2s">
              <div class="img-area  " data-tilt>
                <div class="image   "><img class="about-img img-fluid " loading="lazy" src="{% static 'assets/images/about/core.png' %}" alt="Our vision"></div>
              </div>
            </div>
          </div>
        </div>
        <!--End first about div-->
      </div>
    </section>
    <!-- End  about Section-->

    <!-- Start  our-clients Section-->
    <section class="our-clients  mega-section   wow fadeInUp" id="our-clients" data-wow-delay="0.2s">
      <div class="container">
        <div class="sec-heading   centered ">
          <div class="content-area">
            <h2 class=" title    wow fadeInUp" data-wow-delay=".4s">Partners, Sponsors and<span class='hollow-text'> Collaborators</span></h2>
          </div>
        </div>
        <div class=" clients-logos d-flex align-items-center justify-content-around flex-wrap">
          <!--Swiper-->
          <div class="swiper-container">
            <div class="swiper-wrapper clients-logo-wrapper wow fadeIn " data-wow-delay=".02s">
              <!-- every client logo is located inside div  with clss name "swiper-slide ".
              if you want to add more logos please keep the strcture of the swiper-slide as showen below
              -->
              {% for partner in partners %}
              <div class="swiper-slide">
                <div class="client-logo "><a href="{{ partner.website_url }}"><img class="img-fluid logo " loading="lazy" src="{{ partner.logo.url }}" alt=" "></a></div>
              </div>
              {% endfor %}
              {% for sponsor in sponsors %}
              <div class="swiper-slide">
                <div class="client-logo "><a href="{{ sponsor.website_url }}"><img class="img-fluid logo " loading="lazy" src="{{ sponsor.logo.url }}" alt=" "></a></div>
              </div>
              {% endfor %}
              {% for colab in colabs %}
              <div class="swiper-slide">
                <div class="client-logo "><a href="{{ colab.website_url }}"><img class="img-fluid logo " loading="lazy" src="{{ colab.logo.url }}" alt=" "></a></div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End  our-clients Section-->
{% endblock %}