{% extends "includes/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}AI4D Lab - Login{% endblock %}
{% block content %}
<body>
    <div id="auth">
        
<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-12 mx-auto">
            <div class="card py-4">
                <div class="card-body">
                    <div class="text-center mb-5">
                        <img src="{% static 'dashboards/assets/images/logo.png' %}" height="60" class='mb-4'>
                        <h3>Reset Password</h3>
                        <p>Please enter your new password.</p>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.new_password1.errors }}
                            <label for="first-name-column">New Password</label>
                            <!-- <input type="email" id="first-name-column" class="form-control" name="fname-column"> -->
                            {{ form.new_password1 }}
                            <label for="first-name-column">Confirm Password</label>
                            {{ form.new_password2.errors }}
                            <!-- <input type="email" id="first-name-column" class="form-control" name="fname-column"> -->
                            {{ form.new_password2 }}
                        </div>

                        <div class="clearfix">
                            <button class="btn btn-primary float-right" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

{% endblock %}