<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'dashboards/assets/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'dashboards/assets/vendors/chartjs/Chart.min.css' %}">

    <link rel="stylesheet" href="{% static 'dashboards/assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'dashboards/assets/css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'dashoards/assets/images/favicon.svg' %}" type="image/x-icon">
</head>
{% block content %}

{% endblock %}
</div>
</div>
<script src="{% static 'dashboards/assets/js/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'dashboards/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'dashboards/assets/js/app.js' %}"></script>

<script src="{% static 'dashboards/assets/vendors/chartjs/Chart.min.js' %}"></script>
<script src="{% static 'dashboards/assets/vendors/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'dashboards/assets/js/pages/dashboard.js' %}"></script>

<script src="{% static 'dashboards/assets/js/main.js' %}"></script>
</body>
</html>
