{% load static %}
     <!-- Start  page-footer Section-->
      <footer class="page-footer dark-color-footer" id="page-footer">
        <div class="overlay-photo-image-bg" data-bg-img="{% static 'assets/images/sections-bg-images/footer-bg-1.jpg' %}" data-bg-opacity=".25"></div>
        <div class="container">
          <div class="row footer-cols">
            <div class="col-12 col-md-8 col-lg-4  footer-col "><img class="img-fluid footer-logo" loading="lazy" src="{% static 'assets/images/logo/logo-colored.png' %}" alt="logo"/>
              <div class="footer-col-content-wrapper">        
                <p class="footer-text-about-us ">
                  AI4D Africa's Anglophone Multidisciplinary Research Lab
                </p>
              </div>
              <div class="form-area ">
                <div class="mailchimp-form ">
                  <form class="one-field-form" method="post" action="#0">
                    <div class="field-group ">
                      <label class="email-label" for="email-input"> Subscribe to our news letter</label>
                      <input class="email-input " type="email" value="" name="EMAIL" id="email-input" placeholder="Email Address" autocomplete="off"/>
                      <div class="cta-area">
                        <input class="btn-solid subscribe-btn" type="submit" value="Subscribe" name="subscribe"/>
                      </div>
                    </div><span class="email-notice">*we will not share your personal info</span>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-2 footer-col ">
              <h2 class=" footer-col-title    ">Useful Links</h2>
              <div class="footer-col-content-wrapper">
                <ul class="footer-menu">
                  <li class="footer-menu-item"><i class="bi bi-arrow-right icon "></i><a class="footer-menu-link" href="https://africa.ai4d.ai/">AI4D-Africa</a>
                  </li>
                  <li class="footer-menu-item"><i class="bi bi-arrow-right icon "></i><a class="footer-menu-link" href="https://www.idrc.ca/en">IDRC-CRDI</a>
                  </li>
                  <li class="footer-menu-item"><i class="bi bi-arrow-right icon "></i><a class="footer-menu-link" href="https://www.sida.se/en">Sida</a>
                  </li>
                  <li class="footer-menu-item"><i class="bi bi-arrow-right icon "></i><a class="footer-menu-link" href="https://www.udom.ac.tz/">UDOM</a>
                  </li>
                  <li class="footer-menu-item"><i class="bi bi-arrow-right icon "></i><a class="footer-menu-link" href="https://nm-aist.ac.tz/">NM-AIST</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6 col-lg-2  footer-col ">
              <h2 class=" footer-col-title    ">Other links</h2>
              <div class="footer-col-content-wrapper">
                <ul class="footer-menu ">
                  <li class="footer-menu-item"><i class="bi bi-arrow-right icon "></i><a class="footer-menu-link" href="mailto:info@ai4dlab.or.tz">info@ai4dlab.or.tz</a>
                  </li>
                  <li class="footer-menu-item"><i class="bi bi-arrow-right icon "></i><a class="footer-menu-link" href="{% url 'publication:publication' %}">publication</a>
                  </li>
                  <li class="footer-menu-item"><i class="bi bi-arrow-right icon "></i><a class="footer-menu-link" href="{% url 'project:project' %}">Projects</a>
                  </li>
                  <li class="footer-menu-item"><i class="bi bi-arrow-right icon "></i><a class="footer-menu-link" href="{% url 'blog:blog' %}">Blogs</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12     col-lg-4 footer-col ">
              <h2 class=" footer-col-title    ">contact information</h2>
              <div class="footer-col-content-wrapper">       
                <div class="contact-info-card"><i class="bi bi-envelope icon"></i><a class="text-lowercase  info" href="mailto:example@support.com">info@ai4dlab.or.tz</a></div>
                <!-- <div class="contact-info-card"><i class="bi bi-geo-alt icon"></i><span class="text-lowercase  info">5 Xyz st., Abc, alexandria, egypt.</span></div> -->
                <div class="contact-info-card"><i class="bi bi-phone icon"></i><a class="info" href="tel:+20123456789">+255 715 016 580</a></div>
                <div class="contact-info-card">
                  <div class="social-icons">
                    <div class="sc-wrapper dir-row sc-size-32">
                      <ul class="sc-list">
                        <!-- <li class="sc-item " title="Facebook"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-facebook-f sc-icon"></i></a></li> -->
                        <!-- <li class="sc-item " title="youtube"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-youtube sc-icon"></i></a></li> -->
                        <li class="sc-item " title="linkedin"><a class="sc-link" href="https://www.linkedin.com/company/ai4d-anglophone/mycompany/" title="social media icon" target="_blank"><i class="fab fa-linkedin sc-icon"></i></a></li>
                        <li class="sc-item " title="twitter"><a class="sc-link" href="https://twitter.com/ai4dlab_Tz" title="social media icon"><i class="fab fa-twitter sc-icon" target="_blank"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyrights ">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-6 d-flex justify-content-start">
                <p class="creadits">
                   
                  
                  &copy;<span id="date-now"></span> <script>document.getElementById('date-now')=Date().getFullYear();</script>
                  Created by:
                  
                             <a class="link" href="https://nsoma.me" target="_blank">nsoma</a>
                </p>
              </div>
              <div class="col-12 col-md-6 d-flex justify-content-end">
                <div class="terms-links"><a href="#0">Terms of Use </a>
                  | <a href="#0">Privacy Policy</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- End  page-footer Section-->
      <!-- Start loading-screen Component-->
      <!-- <div class="loading-screen" id="loading-screen"><span class="bar top-bar"></span><span class="bar down-bar"></span><span class="progress-line"></span><span class="loading-counter"> </span></div> -->
      <!-- <div class="loading-screen" id="loading-screen"><span class="bar top-bar"></span><span class="bar down-bar"></span></span></div> -->
      <!-- End loading-screen Component-->
      <!-- Start back-to-top Component-->
      <div class="back-to-top" id="back-to-top"><i class="bi bi-arrow-up icon "></i>
      </div>
      <!-- End back-to-top Component-->   
          
          <!--     JQuery     -->
          <script src="{% static 'js/vendors/jquery-3.6.1.min.js' %}"></script>
          
          <!--     appear     -->
          <script src="{% static 'js/vendors/appear.min.js' %}"></script>
          
          <!--     bootstrap     -->
          <script src="{% static 'js/vendors/bootstrap.bundle.min.js' %}"></script>
          
          <!--     countTo     -->
          <script src="{% static 'js/vendors/jquery.countTo.js' %}"></script>
          
          <!--     wow     -->
          <script src="{% static 'js/vendors/wow.min.js' %}"></script>
          
          <!--     swiper     -->
          <script src="{% static 'js/vendors/swiper-bundle.min.js' %}"></script>
          
          <!--     particles     -->
          <script src="{% static 'js/vendors/particles.min.js' %}"></script>
          
          <!--     Vanilla-tilt     -->
          <script src="{% static 'js/vendors/vanilla-tilt.min.js' %}"></script>
          
          <!--     isotope     -->
          <script src="{% static 'js/vendors/isotope-min.js' %}"></script>
          
          <!--     fancybox     -->
          <script src="{% static 'js/vendors/jquery.fancybox.min.js' %}"></script>
          
          <!--     main     -->
          <script src="{% static 'js/main.js' %}"></script>

          <!-- For admin page -->

                    <!-- Bootstrap core JavaScript-->
          <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
          <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

          <!-- Core plugin JavaScript-->
          <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

          <!-- Custom scripts for all pages-->
          <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

          <!-- Page level plugins -->
          <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

          <!-- Page level custom scripts -->
          <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
          <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
    </body>
  </html>