{% extends "../includes/master.html" %}
{% load static %}
{% block title %}AI4D Lab - Blog{% endblock %}
{% block content %}
    <!-- Start _post -->
    <div class="blog blog-post ">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-10 mx-auto">
            <!--post heading area2021-->
            <h2 class="post-title">{{ publication.title }}</h2>
          </div>
          <div class="col-12 col-lg-9 mx-auto">
            <div class="post-main-area">
              <div class="post-info">
                <a class="info post-cat" href="{{ publication.file.url }}"><i class="fas fa-download icon"></i>Download</a>
                <a class="info post-date" href="#"><i class="fas fa-history icon"></i>{{ publication.created_at | date }}</a>
                {% comment %} <a class="info post-time" href="#"><i class="fas fa-eye icon"></i>0</a><a class="info post-comments-count" href="#"><i class="fas fa-download icon"></i>0</a> {% endcomment %}
              </div>
              <div class="post-content">
                <p class=" first-litter post-text">
                  {{ publication.body | safe }}
                </p>

              <!--tags panel-->
              <div class="tags panel">
                <ul class="sidebar-list tags-list ">
                  <li class="tags-icon-label "><i class="fas fa-tags icon"></i></li>
                  {% if publication.thematic_area == 0%}
                  <li class="tag-item"><a class="tag-link" href="#">General</a></li>
                  {% endif %}
                  {% if publication.thematic_area == 1%}
                  <li class="tag-item"><a class="tag-link" href="#">Health Care</a></li>
                  {% endif %}
                  {% if publication.thematic_area == 2%}
                  <li class="tag-item"><a class="tag-link" href="#">Agriculture and Environmental Conversation</a></li>
                  {% endif %}
                  {% if publication.thematic_area == 3%}
                  <li class="tag-item"><a class="tag-link" href="#">Infrastructure and Data Ecosystem</a></li>
                  {% endif %}
                  {% if publication.thematic_area == 4%}
                  <li class="tag-item"><a class="tag-link" href="#">Digital Economy and Small Scale Industry</a></li>
                  {% endif %}
                </ul>
              </div>
              <!--author profile panel-->
              {% comment %} <div class="author-profile panel">
                <h6 class="panel-title">about author</h6>
                <div class="author-info">
                  <div class="author-avatar"><a class="author-link" href="#"><img class="avatar-img" loading="lazy" src="{{ author.photo.url }}" alt="{{ author.username }}"></a></div>
                  <div class="author-disc">
                    <h6 class="author-name"> <a class="author-link" href="#">{{ author.first_name }} {{ author.last_name }}</a></h6>
                    <p class="author-bio">
                      {{ author.bio }}
                    </p>
                    <div class="sc-wrapper dir-row sc-size-32">
                      <ul class="sc-list">
                        <li class="sc-item " title="Facebook"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-facebook-f sc-icon"></i></a></li>
                        <li class="sc-item " title="youtube"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-youtube sc-icon"></i></a></li>
                        <li class="sc-item " title="instagram"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-instagram sc-icon"></i></a></li>
                        <li class="sc-item " title="twitter"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-twitter sc-icon"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>  {% endcomment %}
              <!--other-posts panel-->
              <div class="cta-area"><a class=" btn-solid reveal-start" href="{% url 'dportal:dportal'%}">Back</a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End _post -->
    {% endblock %}