<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<title>AAIAC 2023 | Speakers</title>
<!-- Stylesheets -->
<link href="{% static 'aaiac2023/assets/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'aaiac2023/assets/plugins/revolution/css/settings.css' %}" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
<link href="{% static 'aaiac2023/assets/plugins/revolution/css/layers.css' %}" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
<link href="{% static 'aaiac2023/assets/plugins/revolution/css/navigation.css' %}" rel="stylesheet" type="text/css"><!-- REVOLUTION NAVIGATION STYLES -->
<link href="{% static 'aaiac2023/assets/css/style.css' %}" rel="stylesheet">
<link href="{% static 'aaiac2023/assets/css/responsive.css' %}" rel="stylesheet">

<link rel="shortcut icon" href="{% static 'aaiac2023/assets/images/icon-colored.png' %}" type="image/x-icon">
<link rel="icon" href="{% static 'aaiac2023/assets/images/icon-light.png' %}" type="image/x-icon">
<!--Color Switcher Mockup-->
<link href="{% static 'aaiac2023/assets/css/color-switcher-design.css' %}" rel="stylesheet">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">

    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->

    <!-- Main Header-->
    <header class="main-header header-style-one">

        
        <!-- Header Lower -->
        <div class="header">
            <div class="" >    
                <!-- Main box -->
                <div class="main-box">


                    <div class="nav-outer">

                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md">
                            <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li style="margin-left:100px;"><a href="{% url 'conference:aaiac-23' %}" >Home</a></li>
                                    <li><a href="{% url 'conference:aaiac-23' }#about">About</a></li>
                                    <li><a href="{% url 'conference:aaiac-23' %}">Contact us</a></li>
                                </ul>
                            </div>
                        </nav>
                        

                    </div>
                </div>
            </div>
        </div>

        <!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="auto-container">            

                <div class="main-box">
                    <div class="logo-box">
                        <div class="logo"><a href="{% url 'conference:aaiac-23' %}"><img src="{% static 'aaiac2023/assets/images/logo-colored.png' %}" alt="" title=""></a></div>
                        <div class="upper-right">
                            <div class="search-box">
                                <button class="search-btn mobile-search-btn"><i class="flaticon-search-2"></i></button>
                            </div>
                            <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><i class="flaticon-menu"></i></a>
                        </div>
                    </div>
                    
                    <nav class="main-menu navbar-expand-md">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
                </div>
            </div>
        </div><!-- End Sticky Menu -->

        <!-- Mobile Header -->
        <div class="mobile-header">
            <div class="logo"><a href="#"><img src="{% static 'aaiac2023/assets/images/logo-colored.png' %}" alt="" title=""></a></div>

            <!--Nav Box-->
            <div class="nav-outer clearfix">
                <div class="outer-box">
                    <!-- Search Btn -->
                    <div class="search-box">
                        <button class="search-btn mobile-search-btn"><i class="flaticon-search-2"></i></button>
                    </div>

                    <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><i class="flaticon-menu"></i></a>
                </div>
            </div>
        </div>

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            
            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            <nav class="menu-box">
                <div class="upper-box">
                    <div class="nav-logo"><a href="{% url 'conference:aaiac-23' %}"><img src="{% static 'aaiac2023assets/images/logo-colored.png' %}" alt="" title=""></a></div>
                    <div class="close-btn"><i class="icon flaticon-close"></i></div>
                </div>

                <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>

                <ul class="contact-list-one">
                    <li><i class="flaticon-location"></i> P. O. Box 490, Dodoma, Tanzania <strong>Address</strong></li>
                    <li><i class="flaticon-alarm-clock-1"></i>Monday - Friday 9am - 4pm <strong>Timing</strong></li>
                    <li><i class="flaticon-email-1"></i> <a href="mailto:conference@ai4dlab.or.tz">conference@ai4dlab.or.tz</a> <strong>Mail to us</strong></li>
                </ul>

                <ul class="social-links">
                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fab fa-pinterest"></span></a></li>
                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fab fa-dribbble"></span></a></li>
                </ul>
            </nav>
        </div><!-- End Mobile Menu -->

        <!-- Header Search -->
        <div class="search-popup">
            <button class="close-search"><i class="flaticon-close"></i></button>
            <form method="post" action="blog.html">
                <div class="form-group">
                    <input type="search" name="search-field" value="" placeholder="Search" required="">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        <!-- End Header Search -->

    </header>
    <!--End Main Header -->

    <!-- Hidden bar back drop -->
    <div class="form-back-drop"></div>

    <!-- Hidden Bar -->
    <section class="hidden-bar">
        <div class="inner-box">
            <div class="title-box">
                <h2>Contact Us</h2>
                <div class="cross-icon"><span class="fa fa-times"></span></div>
            </div>  

            <ul class="contact-list-one">
                <li><i class="flaticon-location"></i> P. O. Box 490, Dodoma <strong>Address</strong></li>
                <li><i class="flaticon-alarm-clock-1"></i>Wednesday - Thursday 9am - 6pm <strong>Timeing</strong></li>
                <li><i class="flaticon-email-1"></i> <a href="mailto:envato@gmail.com">conference@ai4dlab.or.tz</a> <strong>Mail to us</strong></li>
            </ul>
        </div>
    </section>
    <!--End Hidden Bar -->

    <!--Page Title-->
    <section class="page-title" style="background-image: url(aaiac/assets/images/background/11.jpg);">
        <div class="anim-icons full-width">
            <span class="icon icon-bull-eye"></span>
            <span class="icon icon-dotted-circle"></span>
        </div>
        <div class="auto-container">
            <div class="title-outer">
                <h1>Speakers</h1>
                <ul class="page-breadcrumb">
                    <li><a href="{% url 'conference:aaiac-23' %}">Home</a></li>
                    <li>Speakers</li>
                </ul> 
            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Speker Detail -->
    <section class="speaker-detail-section">
        <div class="auto-container">
            <div class="row">
                <div class="image-column col-lg-7 col-md-12 col-sm-12">
                    <div class="row">
                        <!-- Speaker block -->
                        <div class="speaker-block col-lg-5 col-md-6 col-sm-12 wow fadeInLeft">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="#"><img src="{% static 'aaiac2023/assets/images/resource/essa.png' %}" alt=""></a></figure>
                                    <span class="plus-icon fa fa-plus"></span>
                                    <div class="social-links">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="details-column col-lg-7 col-md-6 col-sm-12">
                            <div class="speaker-details">
                                <h4 class="name"><a href="#">Dr. Kadeghe Fue</a></h4>
                                <span class="designation">CEO & Co-Founder</span><br>

                                <ul class="speaker-info-list">
                                    <li><strong>Affiliation:</strong> Mifumo Developers Lab</li>
                                    <li><strong>Country:</strong> TANZANIA</li>
                                    <!-- <li><strong>Experience:</strong> 10 Years</li>
                                    <li><strong>Email:</strong> <a href="mailto:angelina888@mail.com">angelina888@mail.com</a></li>
                                    <li><strong>Phone:</strong> 700.123.456.789</li>
                                    <li><strong>Fax:</strong> 700.123.456.789</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="info-column col-lg-5 col-md-12 col-sm-12">
                    <h3>Bio</h3>
                    <p>Meet Dr. Kadeghe "Kade" Goodluck Fue, a multi-talented professional specialising in Digital and Data-Driven Agriculture and Natural Resource Management. He is a member of various prestigious organisations, including SUASA, IET, IEEE, ASABE, AAAS, and AUVSI. Dr. Fue has extensive knowledge in Precision Agriculture, Artificial Intelligence, Machine Vision, Agricultural Robotics, Agricultural Data Science, and Earth Data Science.</p>
                    <p> He earned his Bachelor's degree in Computer Engineering from the University of Dar es Salaam, Tanzania, followed by a Master's degree in Precision Agriculture from the University of Florida and a PhD in Agricultural Robotics from the University of Georgia, both in the United States.
                        With over 13 years of experience, Dr. Fue specialises in full-stack development, integrating hardware-software systems and creating innovative algorithms for autonomy and AI in the agricultural and natural resource sectors. He is the co-Founder and CEO at Mifumo Developers Lab, as well as a Lecturer and Researcher in the Department of Agricultural Engineering at the School of Engineering and Technology, Sokoine University of Agriculture (SUA). As the Principal Investigator at the Electronics and Precision Agriculture Lab (EPAL), Dr. Fue has led collaborations and funding from various countries.</p>
                </div>
            </div>

            <!-- <div class="other-info">
                <h2>Speeches by Anna Harrison</h2>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="speaker-session-info">
                            <div class="inner-box">
                                <h4>[Day 1]</h4>
                                <span class="time"> 12.00 am - 01.00 pm </span>
                                <p><span class="place">Place: </span> 5 Universal Principles of Company Growth</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="speaker-session-info">
                            <div class="inner-box">
                                <h4>[Day 2]</h4>
                                <span class="time"> 01.00 am - 02.00 pm </span>
                                <p><span class="place">Place: </span> 7 Key Business Owner Functions</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="speaker-session-info">
                            <div class="inner-box">
                                <h4>[Day 3]</h4>
                                <span class="time"> 01.00 am - 02.00 pm </span>
                                <p><span class="place">Place: </span> Place: Our Best Mistakes in Business</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
    <!--End Speker Detail -->


 
    <!-- Main Footer -->
    <footer class="main-footer" id="contact">
        <div class="auto-container">
            <!-- Footer Content -->
            <div class="footer-content wow fadeInUp">
                <div class="text-center">
                    <div class="footer-logo"><a href="#"><img src="{% static 'aaiac2023/assets/images/logo-light.png' %}" alt=""></a></div>
                    <div class="text">Artificial Intelligence for Development AI4D - Lab A unique collaboration between UDOM & NM-AIST to foster Research, Training and Innovation in AI. The Lab is funded by IDRC and Sida through the AI4D Africa Program.</div> 
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <figure class="image-box"><a href="#" ><img src="{% static 'aaiac2023/assets/images/clients/idrc.jpg' %}" alt="" width="150" height="100"></a></figure>
                        </div>
                        <div class="col-md-4">
                            <figure class="image-box"><a href="#"><img src="{% static 'aaiac2023/assets/images/clients/Sida.jpg' %}" alt="" width="150" height="100"></a></figure>
                        </div>
                        <div class="col-md-4">
                            <figure class="image-box"><a href="#"><img src="{% static 'aaiac2023/assets/images/clients/ai4d.jpg' %}" alt="" width="150" height="100"></a></figure>
                        </div>
                    </div>
                </div>
                <hr>
                <ul class="social-icon-two">
                    <li><a href="https://twitter.com/ai4dlab_Tz"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="https://www.linkedin.com/company/ai4d-anglophone/mycompany/"><span class="fab fa-linkedin"></span></a></li>
                </ul>
                <ul class="contact-list-one">
                    <li><i class="flaticon-location"></i> P. O. Box 490, Dodoma, Tanzania <strong>Address</strong></li>
                    <li><i class="flaticon-alarm-clock-1"></i>Monday - Friday 9am - 4pm <strong>Timing</strong></li>
                    <li><i class="flaticon-email-1"></i> <a href="mailto:envato@gmail.com">conference@ai4dlab.or.tz</a> <strong>Mail to us</strong></li>
                </ul>
            </div>
        </div>
  
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="inner-container">
                    <ul class="footer-nav">
                       <li><a href="#">Terms of Service</a></li> 
                       <li><a href="#">Privacy Policy</a></li> 
                    </ul>
                    
                    <div class="copyright-text">
                        <p>Copyright © 2023 All Rights Reserved. Developed by <a href="https://nsoma.me">Nsoma</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
  
  </div>
  <!-- End Page Wrapper -->
  
  <!--Scroll to top-->
  <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
  
  
  <script src="{% static 'aaiac2023/assets/js/jquery.js' %}"></script>
  <script src="{% static 'aaiac2023/assets/js/popper.min.js' %}"></script>
  <!--Revolution Slider-->
  <script src="{% static 'aaiac2023/assets/plugins/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
  <script src="{% static 'aaiac2023/assets/plugins/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
  <script src="{% static 'aaiac2023/assets/plugins/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
  <script src="{% static 'aaiac2023/assets/plugins/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
  <script src="{% static 'aaiac2023/assets/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
  <script src="{% static 'aaiac2023/assets/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
  <script src="{% static 'aaiac2023/assets/plugins/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
  <script src="{% static 'aaiac2023/assets/plugins/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
  <script src="{% static 'aaiac2023/assets/plugins/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
  <script src="{% static 'aaiac2023/assets/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
  <script src="{% static 'aaiac2023/assets/plugins/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
  <script src="{% static 'aaiac2023/assets/js/main-slider-script.js' %}"></script>
  <!--Revolution Slider-->
  <script src="{% static 'aaiac2023/assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'aaiac2023/assets/js/jquery.fancybox.js' %}"></script>
  <script src="{% static 'aaiac2023/assets/js/jquery.countdown.js' %}"></script>
  <script src="{% static 'aaiac2023/assets/js/appear.js' %}"></script>
  <script src="{% static 'aaiac2023/assets/js/owl.js' %}"></script>
  <script src="{% static 'aaiac2023/assets/js/wow.js' %}"></script>
  <script src="{% static 'aaiac2023/assets/js/script.js' %}"></script>
  </body>
  </html>