{% extends "../includes/master.html" %}
{% load static %}
{% block title %}AI4D Lab - About{% endblock %}
{% block content %}
    <!-- Start inner Page hero-->
    <section class="d-flex align-items-center page-hero  inner-page-hero " id="page-hero">
      <div class="overlay-photo-image-bg parallax" data-bg-img="assets/images/hero/inner-page-hero.jpg" data-bg-opacity="1"></div>
      <div class="overlay-color" data-bg-opacity=".75"></div>
      <div class="container">
        <div class="hero-text-area centerd">
          <h1 class="hero-title  wow fadeInUp" data-wow-delay=".2s">Portfolio  single</h1>
          <nav aria-label="breadcrumb ">
            <ul class="breadcrumb wow fadeInUp" data-wow-delay=".6s">
              <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'home:home' %}"><i class="bi bi-house icon "></i>home</a></li>
              <li class="breadcrumb-item active">Portfolio single</li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
    <!-- End inner Page hero-->
    <!-- Start Project Details Area-->
    <section class="portfolio-single mega-section">
      <div class="container">
        <div class="featured-area">
          <div class="row">
            <div class="col-12  mx-auto">
              <div class="project-featured-img"><img class="featured-img " loading="lazy" src="assets/images/portfolio/featured-image.jpg" alt="featuerd image"></div>
            </div>
          </div>
        </div>
        <div class="main-area">
          <div class="row">
            <div class="col-12 col-lg-9  ">
              <h5 class="sub-heading ">project goals</h5>
              <p class="project-text">
                 Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Ullam unde, alias deserunt nemo perspiciatis cum delectus
                deleniti repudiandae aliquam exercitationem veniam ipsam 
                incidunt sequi ipsum tenetur.
                Consequuntur dolorum suscipit eos.
              </p>
              <p class="project-text">
                 Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Ullam unde, alias deserunt nemo perspiciatis cum delectus
                deleniti repudiandae aliquam exercitationem veniam ipsam 
                incidunt sequi ipsum tenetur.
                Consequuntur dolorum suscipit eos.
                deleniti repudiandae aliquam exercitationem veniam ipsam 
                incidunt sequi ipsum tenetur.
                Consequuntur dolorum suscipit eos.
                
              </p>
              <div class="project-video mega-section ">
                <div class="overlay-photo-image-bg" data-bg-img="assets/images/sections-bg-images/pattern-bg-4.jpg" data-bg-opacity="1"></div>
                <div class="overlay-color " data-bg-opacity=".25"></div>
                <div class="video-wrapper">
                  <div class="play-btn-col-dir"><a class="video-link" href="https://www.youtube.com/watch?v=QI4_dGvZ5yE&amp;ab_channel=JUtah" role="button" title="play" data-fancybox="data-fancybox">
                      <div class="play-video-btn">
                        <div class="play-btn"> <i class="fas fa-play icon"></i></div>
                      </div></a></div>
                </div>
              </div>
              <h5 class="sub-heading ">project overview</h5>
              <p class="project-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Ullam unde, alias deserunt nemo perspiciatis cum delectus
                deleniti repudiandae aliquam exercitationem veniam ipsam 
                
              </p>
              <p class="project-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Ullam unde, alias deserunt nemo perspiciatis cum delectus
                deleniti repudiandae aliquam exercitationem veniam ipsam 
                incidunt sequi ipsum tenetur.
                Consequuntur dolorum suscipit eos.
                deleniti repudiandae aliquam exercitationem veniam ipsam 
                
                
              </p>
              <div class="row align-items-center py-5">
                <div class="col-12 col-lg-6">   
                  <h5 class="sub-heading ">project steps</h5>
                  <ul class="list steps">
                    <li class="list-item step"><i class="bi bi-check2 icon"></i><span>ipsum dolor sit amet consectetur adipisicing</span></li>
                    <li class="list-item step"><i class="bi bi-check2 icon"></i><span>quas, ea fuga vel quis officiis laborum quaerat </span></li>
                    <li class="list-item step"><i class="bi bi-check2 icon"></i><span>alias fugiat aliquam  soluta beatae numquam</span></li>
                    <li class="list-item step"><i class="bi bi-check2 icon"></i><span>nobis maiores inventore harum pariatur  possimus</span></li>
                  </ul>
                </div>
                <div class="col-12 col-lg-6"> 
                  <div class="seal-img "><img class="img-fluid" src="assets/images/portfolio/seal.png" alt="seal image" loading="lazy"></div>
                </div>
              </div>
              <h5 class="sub-heading ">project results</h5>
              <p class="project-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Ullam unde, alias deserunt nemo perspiciatis cum delectus
                deleniti repudiandae aliquam exercitationem veniam ipsam deleniti repudiandae aliqua
                
              </p>
              <div class="portfolio  portfolio-slider">
                <!--Swiper-->
                <div class="swiper-container wow fadeIn" data-wow-delay=".5s">
                  <div class="swiper-wrapper ">
                    <div class="swiper-slide">
                      <div class="item   "><a class="portfolio-img-link" href="assets/images/portfolio/1.jpg" data-fancybox=".show-in-fancybox"><img class="portfolio-img   img-fluid " loading="lazy" src="assets/images/portfolio/1.jpg" alt="portfolio item photo"/></a>
                        <div class="item-info ">
                          <h3 class="item-title">mobile apps</h3><i class="bi bi-eye icon "></i>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="item   "><a class="portfolio-img-link" href="assets/images/portfolio/2.jpg" data-fancybox=".show-in-fancybox"><img class="portfolio-img   img-fluid " loading="lazy" src="assets/images/portfolio/2.jpg" alt="portfolio item photo"/></a>
                        <div class="item-info ">
                          <h3 class="item-title">cloud</h3><i class="bi bi-eye icon "></i>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="item   "><a class="portfolio-img-link" href="assets/images/portfolio/3.jpg" data-fancybox=".show-in-fancybox"><img class="portfolio-img   img-fluid " loading="lazy" src="assets/images/portfolio/3.jpg" alt="portfolio item photo"/></a>
                        <div class="item-info ">
                          <h3 class="item-title">data analaysis</h3><i class="bi bi-eye icon "></i>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="item   "><a class="portfolio-img-link" href="assets/images/portfolio/4.jpg" data-fancybox=".show-in-fancybox"><img class="portfolio-img   img-fluid " loading="lazy" src="assets/images/portfolio/4.jpg" alt="portfolio item photo"/></a>
                        <div class="item-info ">
                          <h3 class="item-title">hosting</h3><i class="bi bi-eye icon "></i>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="item   "><a class="portfolio-img-link" href="assets/images/portfolio/5.jpg" data-fancybox=".show-in-fancybox"><img class="portfolio-img   img-fluid " loading="lazy" src="assets/images/portfolio/5.jpg" alt="portfolio item photo"/></a>
                        <div class="item-info ">
                          <h3 class="item-title">SEO</h3><i class="bi bi-eye icon "></i>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="item   "><a class="portfolio-img-link" href="assets/images/portfolio/6.jpg" data-fancybox=".show-in-fancybox"><img class="portfolio-img   img-fluid " loading="lazy" src="assets/images/portfolio/6.jpg" alt="portfolio item photo"/></a>
                        <div class="item-info ">
                          <h3 class="item-title">other category</h3><i class="bi bi-eye icon "></i>
                        </div>
                      </div>
                      <!--navigation buttons-->
                    </div>
                  </div>
                  <div class="swiper-button-prev">
                    <div class="left-arrow"><i class="bi bi-chevron-left icon "></i>
                    </div>
                  </div>
                  <div class="swiper-button-next">
                    <div class="right-arrow"><i class="bi bi-chevron-right icon "></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3  ">
              <div class="info-area">
                <div class="project-info">
                  <div class="row">
                    <div class="col-6 col-lg-12">
                      <div class="info">
                        <h5 class="title"> client</h5>
                        <p class="detail">amin themes</p><i class="fas fa-address-card icon"></i>
                      </div>
                    </div>
                    <div class="col-6 col-lg-12">
                      <div class="info">
                        <h5 class="title">category</h5>
                        <p class="detail">Web Development</p><i class="fas fa-tasks icon"></i>
                      </div>
                    </div>
                    <div class="col-6 col-lg-12">
                      <div class="info">
                        <h5 class="title">date</h5>
                        <p class="detail">30/1/2022</p><i class="fas fa-calendar-alt icon"></i>
                      </div>
                    </div>
                    <div class="col-6 col-lg-12">
                      <div class="info">
                        <h5 class="title">share</h5>
                        <div class="sc-wrapper dir-row sc-size-40">
                          <ul class="sc-list">
                            <li class="sc-item " title="Facebook"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-facebook-f sc-icon"></i></a></li>
                            <li class="sc-item " title="youtube"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-youtube sc-icon"></i></a></li>
                            <li class="sc-item " title="instagram"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-instagram sc-icon"></i></a></li>
                            <li class="sc-item " title="twitter"><a class="sc-link" href="#0" title="social media icon"><i class="fab fa-twitter sc-icon"></i></a></li>
                          </ul>
                        </div><i class="fas fa-share-alt icon"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End  Project Details Area-->
  {% endblock %}