{% extends "includes/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}AI4D Lab - Login{% endblock %}
{% block content %}
<body>
    <div id="auth">
        
<div class="container">
    <div class="row">
        <div class="col-md-7 col-sm-12 mx-auto">
            <div class="card pt-4">
                <div class="card-body">
                    <div class="text-center mb-5">
                        <img src="{% static 'dashboards/assets/images/logo.png' %}" height="100" class='mb-4'>
                        <h3>Sign Up</h3>
                        <p>Please fill the form to register.</p>
                    </div>
                    <form action="{% url 'users:register' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="first-name">First Name</label>
                                    {{ register_form.first_name }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="last-name-column">Last Name</label>
                                    {{ register_form.last_name }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="username-column">Username</label>
                                    {{ register_form.username }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    {{ register_form.country }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="company-column">Company</label>
                                    {{ register_form.company }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="email-id-column">Email</label>
                                    {{ register_form.email }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    {{ register_form.password1 }}
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="cpassword">
                                    <label for="email-id-column">Confirm Password</label>
                                    {{ register_form.password2 }}
                                </div>
                            </div>
                        </diV>

                                <a href="{% url 'users:login' %}">Have an account? Login</a>
                        <div class="clearfix">
                            <button class="btn btn-primary float-right" type="submit">Submit</button>
                        </div>
                    </form>
                    <div class="divider">
                        <div class="divider-text">OR</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 text-center">
                            <a href="{% provider_login_url 'google' %}"><img  src="{% static 'dashboards/assets/images/google_signin.png' %}" width="40%" height="90%" alt="sign with Google"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
</body>
{% endblock %}

